<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kula SIS{% endblock %}</title>				
		    {% stylesheets '@FrameworkBundle/Resources/public/css/lib/reset.css'
				%}
		        <link rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
				{% javascripts  
				%}
				    <script type="text/javascript" src="{{ asset_url }}"></script>
				{% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block body_javascripts %}{% endblock %}
    </body>
</html>
